.App {
  text-align: center;
  max-width: 640px;
  margin: auto;
  color: #999;
}

.header {
  margin-top: 10rem;
}

.header .desc {
  font-size: 1.2rem;
}

.sub-header {
  color: #666;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.link{
  color: #999;
}